<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="css/bootstrap.css" rel="stylesheet">
    <title>API Rest con vistas XILFTEN Movies</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f8f9fa;
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            color: #212529;
        }
        .container {
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
        }
        h1 {
            font-size: 36px;
            margin-top: 40px;
            margin-bottom: 20px;
            text-align: center;
        }
        hr {
            border-color: #dee2e6;
            margin-top: 20px;
            margin-bottom: 20px;
        }
        h3 {
            font-size: 24px;
            margin-top: 30px;
            margin-bottom: 10px;
        }
        p {
            font-size: 16px;
            line-height: 1.6;
        }
        a {
            color: #007bff;
            text-decoration: none;
        }
    </style>
</head>
<body>
<div class="container">
    <h1>API REST XILTEN Movies</h1>
    <hr>
    <h3>Get all Movies</h3>
    <p>Para obtener todas las películas usa la URL <a href="http://localhost:8080/movies">http://localhost:8080/movies</a></p>
    <h3>Get Movie by id</h3>
    <p>Para obtener una película por ID usa la URL <a href="http://localhost:8080/movies/{id}">http://localhost:8080/movies/{id}</a></p>
    <p th:if="${message != null}" th:text="${message}"></p>
</div>
</body>
</html>
